<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- ICONs -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

  <!-- CSS -->
  <link rel="stylesheet" href="/css/style.css">

  <title><%- title %></title>
</head>
<body>
  <div class="container">
    <%- body %>
  </div>

  <script src="https://unpkg.com/scrollreveal"></script>
  <script>

    ScrollReveal().reveal('.messages p', {
      origin: 'bottom',
      distance: '20px',
      delay: '200',
      duration: '800',
    })
    ScrollReveal().reveal('.messages .test', {
      origin: 'bottom',
      distance: '20px',
      delay: '1000',
      duration: '800'
    })
  </script>

</body>
</html>