<main>
  <section class="form">
    <div class="container">
      <form action="/add" method="POST">
        <div class="title">
          <div class="flex ai-center" style="margin-bottom: 1rem;">
            <i class="uil uil-clipboard"></i>
            <h1 class="heading">Add Task</h1>
          </div>
          <div class="flex ai-center jc-sb">
            <div class="inputGroup">
              <label for="">Task</label>
              <input style="width: 200px; margin-right: 10px;" type="text" name="task" placeholder="Input your task">
            </div>
            <div class="inputGroup">
              <label for="">Date</label>
              <input style="width: 120px; margin-left: 4px;" type="datetime-local" min=<%- new Date() %> name="deadline">
            </div>
          </div>
          <div class="inputGroup">
            <label for="">Description</label>
            <input type="text" name="desc" placeholder="Input description">
          </div>
          <div class="bottom flex ai-center jc-sb" style="margin-top: 25px;">
            <a href="/">Cancel</a>
            <button type="submit" class="button">Add</button>
          </div>
        </div>
      </form>
    </div>
  </section>
</main>