<main>
  <section class="account-area" style="background: var(--bg-color); position: sticky; top: 1.3rem;">
    <div class="container">
      <div class="bot flex ai-center jc-sb">
        <div class="account-info flex ai-center">
          <i class="uil uil-flower" style="font-size: 2rem; margin-right: 0.3rem;"></i>
          <div class="account">
            <h1 class="heading" style="font-weight: bold;">Aurum</h1>
          </div>
        </div>
        <div class="add-task">
          <a href="/"><i class="uil uil-signout" style="border: none;"></i></a>
        </div>
      </div>
    </div>
  </section>
  <section class="messages-area">
    <div class="container" style="height: calc(100% - 185px); overflow-x: scroll;">
      <% if (data) { %>
        <div class="messages" style="justify-content: right; margin: 1rem 0 0 3rem;">
          <p><%= mess %></p>
        </div>
        <div class="messages" style="justify-content: left; margin-right: 3rem;">
          <p class="test" style="background: var(--bg-color-transparent); border: 1px solid var(--black-color);">
            <%= data %>
          </p>
        </div>
      <% } else { %>
        <div class="messages" style="justify-content: left; margin: 1rem 0 0 0">
          <p>Hello! How can I assist you today?</p>
        </div>
      <% } %>
    </div>

  </section>
  <section class="prompt-area" style="position: sticky; bottom: 1.3rem;">
    <div class="container">
      <form action="/send" method="post" style="background: var(--bg-color);">
        <div class="inputGroup flex ai-center jc-sb">
          <input type="text" id="message-input" placeholder="Type your message" name="ask" style="margin-top: 0;">
          <button type="submit" class="btn">Send</button>
        </div>
      </form>
    </div>
  </section>
</main>